.metadata/

Engine/.settings/
Engine/bin/
Engine/.classpath
Engine/.project

Sandbox/.settings/
Sandbox/bin/
Sandbox/.classpath
Sandbox/.project

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
